:root {
  --hmhGolden: #f2a900;
  --hmhGolden2: #cf9100;
  --hmhDarkGray: #54585a;
  --hmhLightGray: #898d8d;
  --yellowC70: #3f3405;
  --yellowC65: #52440a;
  --yellowC60: #65550e;
  --yellowC55: #776512;
  --yellowC50: #8a7517;
  --yellowC45: #9a8316;
  --yellowC40: #a99114;
  --yellowC35: #bea532;
  --yellowC30: #d3ba4f;
  --yellowC25: #e2c963;
  --yellowC20: #f1d776;
  --yellowC15: #f7e5a4;
  --yellowC10: #fbefc7;
  --yellowC5: #fff9e9;
  --goldenC70: #3a1b06;
  --goldenC65: #4c280b;
  --goldenC60: #6a3e07;
  --goldenC55: #885304;
  --goldenC50: #a66900;
  --goldenC45: #bb7600;
  --goldenC40: #ce8400;
  --goldenC35: #e09700;
  --goldenC30: #f2a900;
  --goldenC25: #fcbe4f;
  --goldenC20: #f8cb69;
  --goldenC15: #ffdfa6;
  --goldenC10: #ffecca;
  --goldenC5: #fff4e3;
  --orangeC70: #441f00;
  --orangeC65: #5b2b00;
  --orangeC60: #7f3700;
  --orangeC55: #a44400;
  --orangeC50: #c85000;
  --orangeC45: #e25a00;
  --orangeC40: #fb6400;
  --orangeC35: #fd7b24;
  --orangeBand: #d59500;
  --orangeC30: #ff9248;
  --orangeC25: #ffab6b;
  --orangeC20: #ffc38d;
  --orangeC15: #ffd8bd;
  --orangeC10: #ffe8dc;
  --orangeC5: #fef0e7;
  --redC70: #510712;
  --redC65: #760512;
  --redC60: #99030c;
  --redC55: #b30c11;
  --redC50: #cc1416;
  --redC45: #e61d1a;
  --redC40: #ff261f;
  --redC35: #ff4c48;
  --redC30: #ff6c6c;
  --redC25: #ff8d8d;
  --redC20: #ffaeae;
  --redC15: #ffcbcb;
  --redC10: #ffe6e6;
  --redC5: #fff1f1;
  --ceriseC70: #560a20;
  --ceriseC65: #680938;
  --ceriseC60: #7f1646;
  --ceriseC55: #982156;
  --ceriseC50: #b12d66;
  --ceriseC45: #cf2a73;
  --ceriseC40: #ed2680;
  --ceriseC35: #ee4e93;
  --ceriseC30: #ef75a7;
  --ceriseC25: #f290bb;
  --ceriseC20: #f4abce;
  --ceriseC15: #f8c9e1;
  --ceriseC10: #fce6f4;
  --ceriseC5: #fff0fa;
  --purpleC70: #360e47;
  --purpleC65: #502672;
  --purpleC60: #62368c;
  --purpleC55: #7547a7;
  --purpleC50: #8757c1;
  --purpleC45: #915fce;
  --purpleC40: #9a67db;
  --purpleC35: #a67be0;
  --purpleC30: #b38fe5;
  --purpleC25: #bfa1e9;
  --purpleC20: #cbb2ed;
  --purpleC15: #dbcaef;
  --purpleC10: #f1e8f9;
  --purpleC5: #f7f2fc;
  --blueC70: #041b3f;
  --blueC65: #123467;
  --blueC60: #204d90;
  --blueC55: #2462aa;
  --blueC50: #2773bb;
  --blueC45: #2985cc;
  --blueC40: #2c96dd;
  --blueC35: #47a9eb;
  --blueC30: #62bbf9;
  --blueC25: #7ec3f8;
  --blueC20: #9accf6;
  --blueC15: #bddaf6;
  --blueC10: #deeefc;
  --blueC5: #eef5ff;
  --aquaC70: #032f33;
  --aquaC65: #043b44;
  --aquaC60: #035462;
  --aquaC55: #016c7f;
  --aquaC50: #00859d;
  --aquaC45: #0094ae;
  --aquaC40: #00a3bf;
  --aquaC35: #25afc7;
  --aquaC30: #4abace;
  --aquaC25: #66c5d6;
  --aquaC20: #81d0dd;
  --aquaC15: #afe1e9;
  --aquaC10: #d9f1f4;
  --aquaC5: #e8f5f7;
  --turquoiseC70: #0c301c;
  --turquoiseC65: #0d4634;
  --turquoiseC60: #0e5b4c;
  --turquoiseC55: #0b6e5b;
  --turquoiseC50: #07826a;
  --turquoiseC45: #049579;
  --turquoiseC40: #00a888;
  --turquoiseC35: #30b195;
  --turquoiseC30: #49bca4;
  --turquoiseC25: #65c6b2;
  --turquoiseC20: #8cd5c5;
  --turquoiseC15: #b3e3d8;
  --turquoiseC10: #daf2eb;
  --turquoiseC5: #ebf7f3;
  --greenC70: #112b05;
  --greenC65: #1a3f0a;
  --greenC60: #245607;
  --greenC55: #2d6e03;
  --greenC50: #378500;
  --greenC45: #439707;
  --greenC40: #4fa80d;
  --greenC35: #66b331;
  --greenC30: #7dbd54;
  --greenC25: #92c86e;
  --greenC20: #a6d287;
  --greenC15: #c7e2b3;
  --greenC10: #e3efd8;
  --greenC5: #eef5e7;
  --grayC75: #d4d9db;
  --grayC70: #2d2d2d;
  --grayC65: #424242;
  --grayC62: #4e4c50;
  --grayC60: #565757;
  --grayC55: #5d5f5f;
  --grayC50: #6a6d6d;
  --grayC45: #7f8282;
  --grayC40: #898d8d;
  --grayC35: #a0a2a2;
  --grayC30: #b2b2b2;
  --grayC25: #bfc0c0;
  --grayC20: #cbcdcf;
  --grayC15: #dcdcdc;
  --grayC10: #ededed;
  --grayC5: #f7f7f8;
  --coolGrayC70: #3d3f3f;
  --coolGrayC65: #4c4e50;
  --coolGrayC60: #54585a;
  --coolGrayC55: #62676b;
  --coolGrayC50: #6f757a;
  --coolGrayC45: #7c8388;
  --coolGrayC40: #899196;
  --coolGrayC35: #989fa3;
  --coolGrayC30: #a6adb1;
  --coolGrayC25: #b3babd;
  --coolGrayC20: #c0c6c8;
  --coolGrayC15: #d5dadc;
  --coolGrayC10: #e8eced;
  --coolGrayC5: #f4f4f4;
  --warmGrayC70: #3c3530;
  --warmGrayC65: #4c4541;
  --warmGrayC60: #5b534f;
  --warmGrayC55: #6b615c;
  --warmGrayC50: #7f726b;
  --warmGrayC45: #8d7f76;
  --warmGrayC40: #9b8b81;
  --warmGrayC35: #a69990;
  --warmGrayC30: #b2a79f;
  --warmGrayC25: #bdb3ac;
  --warmGrayC20: #cec4bf;
  --warmGrayC15: #ded6d1;
  --warmGrayC10: #efecea;
  --warmGrayC5: #f7f5f2;
  --yellowM60: #624e19;
  --yellowM55: #76611b;
  --yellowM50: #8a7517;
  --yellowM45: #988530;
  --yellowM40: #a59449;
  --yellowM30: #c1b37a;
  --yellowM20: #dcd2ac;
  --yellowM15: #ebe5cb;
  --yellowM10: #fbf8eb;
  --goldenM60: #77471e;
  --goldenM55: #8b5820;
  --goldenM50: #9e6b20;
  --goldenM45: #a77a36;
  --goldenM40: #b0884b;
  --goldenM30: #c3a577;
  --goldenM20: #d5c2a2;
  --goldenM15: #ecdfc4;
  --goldenM10: #f7f3e5;
  --orangeM60: #8a3e22;
  --orangeM55: #9d4e27;
  --orangeM50: #af602b;
  --orangeM45: #b56e40;
  --orangeM40: #bb7c54;
  --orangeM30: #c7997d;
  --orangeM20: #d3b5a6;
  --orangeM15: #e5d2c6;
  --orangeM10: #f7f0e5;
  --redM60: #972d37;
  --redM55: #aa3944;
  --redM50: #c15359;
  --redM45: #c56368;
  --redM40: #ca7277;
  --redM30: #d39294;
  --redM20: #ddb1b2;
  --redM15: #e6d0d0;
  --redM10: #f8eeee;
  --ceriseM60: #562b4a;
  --ceriseM55: #683661;
  --ceriseM50: #7c4371;
  --ceriseM45: #8a5683;
  --ceriseM40: #976895;
  --ceriseM30: #b08bae;
  --ceriseM20: #c8afc6;
  --ceriseM15: #e0d3df;
  --ceriseM10: #f9eff5;
  --purpleM60: #423165;
  --purpleM55: #533e79;
  --purpleM50: #654c8e;
  --purpleM45: #755d99;
  --purpleM40: #846ea4;
  --purpleM30: #a390ba;
  --purpleM20: #c1b1cf;
  --purpleM15: #e0d3e5;
  --purpleM10: #f5edf7;
  --blueM60: #293665;
  --blueM55: #344479;
  --blueM50: #42548e;
  --blueM45: #536499;
  --blueM40: #6374a3;
  --blueM30: #8494b7;
  --blueM20: #a5b4cc;
  --blueM15: #c6d4e0;
  --blueM10: #e4eef4;
  --aquaM60: #244753;
  --aquaM55: #2e5866;
  --aquaM50: #396b7a;
  --aquaM45: #4b7986;
  --aquaM40: #5c8792;
  --aquaM30: #7fa2ab;
  --aquaM20: #a1bdc3;
  --aquaM15: #c4d9db;
  --aquaM10: #e5f2f3;
  --turquoiseM60: #335245;
  --turquoiseM55: #406456;
  --turquoiseM50: #4f7769;
  --turquoiseM45: #5d8779;
  --turquoiseM40: #6a9688;
  --turquoiseM30: #81aa9d;
  --turquoiseM20: #a1c3ba;
  --turquoiseM15: #c2ddd6;
  --turquoiseM10: #e2f6f3;
  --greenM60: #324826;
  --greenM55: #415930;
  --greenM50: #506d3c;
  --greenM45: #617b4d;
  --greenM40: #71895e;
  --greenM30: #91a581;
  --greenM20: #b2c1a3;
  --greenM15: #d2ddc5;
  --greenM10: #f1f7e7;
  --yellowS10: #fff8dc;
  --yellowS15: #fff2b0;
  --yellowS20: #feec83;
  --yellowS25: #ffe355;
  --yellowS30: #ffda2f;
  --yellowS35: #ffce00;
  --yellowS40: #e5ba05;
  --goldenS10: #fdeed7;
  --goldenS15: #fde1b0;
  --goldenS20: #fed08a;
  --goldenS25: #ffbc65;
  --goldenS30: #ffa840;
  --goldenS35: #ff8f00;
  --goldenS40: #cc8200;
  --orangeS10: #fbe9dd;
  --orangeS15: #ffd0b6;
  --orangeS20: #feaf81;
  --orangeS25: #ff9865;
  --orangeS30: #ff8048;
  --orangeS35: #ff6417;
  --orangeS40: #e55c00;
  --redS10: #ffe9ec;
  --redS15: #ffccd0;
  --redS20: #ffabab;
  --redS25: #ff9292;
  --redS30: #ff716f;
  --redS35: #ff4f4c;
  --redS40: #ff261f;
  --ceriseS10: #ffebf7;
  --ceriseS15: #ffcff0;
  --ceriseS20: #ffb1da;
  --ceriseS25: #ff94c4;
  --ceriseS30: #ff76ae;
  --ceriseS35: #ed3b90;
  --ceriseS40: #e0007b;
  --purpleS10: #fae9fe;
  --purpleS15: #f7d4ff;
  --purpleS20: #f1b2ff;
  --purpleS25: #ea8fff;
  --purpleS30: #e578ff;
  --purpleS35: #d255fc;
  --purpleS40: #b650ff;
  --blueS10: #dcf8ff;
  --blueS15: #b3efff;
  --blueS20: #8fd7ff;
  --blueS25: #72c4ff;
  --blueS30: #55b1ff;
  --blueS35: #479eff;
  --blueS40: #398aff;
  --aquaS10: #e1feff;
  --aquaS15: #b4f5f7;
  --aquaS20: #87ecef;
  --aquaS25: #5ae3e6;
  --aquaS30: #2ddade;
  --aquaS35: #19c0bf;
  --aquaS40: #04a5a0;
  --turquoiseS10: #e3fffa;
  --turquoiseS15: #c0fbed;
  --turquoiseS20: #92f2d7;
  --turquoiseS25: #64e9c1;
  --turquoiseS30: #36e0ab;
  --turquoiseS35: #24ca9c;
  --turquoiseS40: #02a879;
  --greenS10: #effad9;
  --greenS15: #d7f2a8;
  --greenS20: #bfeb77;
  --greenS25: #a6e345;
  --greenS30: #8edb14;
  --greenS35: #7dbf0a;
  --greenS40: #6ba300;
  --white: #ffffff;
  --black: #000000;
  --outlineAlly: #c70092;
}
