/*------------------------------------------------------------------
 * CTS Shadow Variables
 *
 * @zeplin https://zpl.io/beeWL4p
 *
 * See component css files for component-specific variables
 *----------------------------------------------------------------*/

:root {
  /* Used for buttons in their resting state */
  --ebl-shadow-0: none;

  --ebl-shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.2),0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.14);

  /* Used for: Drag and drop drag item initial state, Button hover states */
  --ebl-shadow-3: 0 1px 8px 0 rgba(0, 0, 0, 0.2),0 3px 3px -2px rgba(0, 0, 0, 0.12), 0 3px 4px 0 rgba(0, 0, 0, 0.14);

  /* Used for: Drag and drop drag item hover state */
  --ebl-shadow-8: 0 3px 14px 2px rgba(0, 0, 0, 0.12),0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 5px 5px -3px rgba(0, 0, 0, 0.2);

  /* Used for: Drag and drop drag item dragging state */
  --ebl-shadow-12: 0 7px 8px -4px rgba(0, 0, 0, 0.2),0 5px 22px 4px rgba(0, 0, 0, 0.12), 0 12px 17px 2px rgba(0, 0, 0, 0.14);

  /* Used for: Modals */
  --ebl-shadow-24: 0 24px 38px 3px rgba(0,0,0,0.14), 0 9px 46px 8px rgba(0,0,0,0.12), 0 11px 15px -7px rgba(0,0,0,0.20);
  
}
